<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<dubbo:protocol name="dubbo" dispatcher="all"
		threadpool="fixed" threads="100" port="9091" buffer="4096" server="netty"
		client="netty" serialization="hessian2" />
	<dubbo:provider timeout="3000" retries="0" cluster="failover" loadbalance="random"/>
	
	<dubbo:service interface="com.afd.service.seller.ISellerLoginService" ref="sellerLoginService" />
	<dubbo:service interface="com.afd.service.seller.ISellerService" ref="sellerService" />
	<dubbo:service interface="com.afd.service.seller.ISellerApplyService" ref="sellerApplyService" />
</beans>
