<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.seller.dao.SellerMapper" >
  <resultMap id="BaseResultMap" type="com.afd.model.seller.Seller" >
    <id column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="seller_login_id" property="sellerLoginId" jdbcType="INTEGER" />
    <result column="seller_type" property="sellerType" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="co_name" property="coName" jdbcType="VARCHAR" />
    <result column="co_bln" property="coBln" jdbcType="VARCHAR" />
    <result column="bt_start_date" property="btStartDate" jdbcType="TIMESTAMP" />
    <result column="bt_end_date" property="btEndDate" jdbcType="TIMESTAMP" />
    <result column="bt_geo" property="btGeo" jdbcType="VARCHAR" />
    <result column="register_capital" property="registerCapital" jdbcType="VARCHAR" />
    <result column="biz_scope" property="bizScope" jdbcType="VARCHAR" />
    <result column="lp_name" property="lpName" jdbcType="VARCHAR" />
    <result column="lp_mobile" property="lpMobile" jdbcType="VARCHAR" />
    <result column="contact_addr" property="contactAddr" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="co_site" property="coSite" jdbcType="VARCHAR" />
    <result column="co_brand" property="coBrand" jdbcType="VARCHAR" />
    <result column="bt_img" property="btImg" jdbcType="VARCHAR" />
    <result column="org_code_img" property="orgCodeImg" jdbcType="VARCHAR" />
    <result column="tax_img" property="taxImg" jdbcType="VARCHAR" />
    <result column="id_a_img" property="idAImg" jdbcType="VARCHAR" />
    <result column="id_b_img" property="idBImg" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="tax_no" property="taxNo" jdbcType="VARCHAR" />
    <result column="tax_type" property="taxType" jdbcType="CHAR" />
    <result column="tax_ratio" property="taxRatio" jdbcType="VARCHAR" />
    <result column="bank_acct_name" property="bankAcctName" jdbcType="VARCHAR" />
    <result column="bank_acct_no" property="bankAcctNo" jdbcType="VARCHAR" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="branch_no" property="branchNo" jdbcType="VARCHAR" />
    <result column="contract_type" property="contractType" jdbcType="CHAR" />
    <result column="contract_img" property="contractImg" jdbcType="VARCHAR" />
    <result column="biz_man_name" property="bizManName" jdbcType="VARCHAR" />
    <result column="biz_man_position" property="bizManPosition" jdbcType="VARCHAR" />
    <result column="biz_man_id_no" property="bizManIdNo" jdbcType="VARCHAR" />
    <result column="biz_man_mobile" property="bizManMobile" jdbcType="VARCHAR" />
    <result column="biz_man_qq" property="bizManQq" jdbcType="VARCHAR" />
    <result column="biz_man_email" property="bizManEmail" jdbcType="VARCHAR" />
    <result column="is_paid_deposit" property="isPaidDeposit" jdbcType="CHAR" />
    <result column="deposit_date" property="depositDate" jdbcType="TIMESTAMP" />
    <result column="deposit_auditor" property="depositAuditor" jdbcType="VARCHAR" />
    <result column="deposit_audit_date" property="depositAuditDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    seller_id, seller_login_id, seller_type, create_date, status, co_name, co_bln, bt_start_date, 
    bt_end_date, bt_geo, register_capital, biz_scope, lp_name, lp_mobile, contact_addr, 
    fax, co_site, co_brand, bt_img, org_code_img, tax_img, id_a_img, id_b_img, org_code, 
    tax_no, tax_type, tax_ratio, bank_acct_name, bank_acct_no, branch_name, branch_no, 
    contract_type, contract_img, biz_man_name, biz_man_position, biz_man_id_no, biz_man_mobile, 
    biz_man_qq, biz_man_email, is_paid_deposit, deposit_date, deposit_auditor, deposit_audit_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_seller
    where seller_id = #{sellerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_seller
    where seller_id = #{sellerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.afd.model.seller.Seller" >
    insert into t_seller (seller_id, seller_login_id, seller_type, 
      create_date, status, co_name, 
      co_bln, bt_start_date, bt_end_date, 
      bt_geo, register_capital, biz_scope, 
      lp_name, lp_mobile, contact_addr, 
      fax, co_site, co_brand, 
      bt_img, org_code_img, tax_img, 
      id_a_img, id_b_img, org_code, 
      tax_no, tax_type, tax_ratio, 
      bank_acct_name, bank_acct_no, branch_name, 
      branch_no, contract_type, contract_img, 
      biz_man_name, biz_man_position, biz_man_id_no, 
      biz_man_mobile, biz_man_qq, biz_man_email, 
      is_paid_deposit, deposit_date, deposit_auditor, 
      deposit_audit_date)
    values (#{sellerId,jdbcType=INTEGER}, #{sellerLoginId,jdbcType=INTEGER}, #{sellerType,jdbcType=CHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, #{coName,jdbcType=VARCHAR}, 
      #{coBln,jdbcType=VARCHAR}, #{btStartDate,jdbcType=TIMESTAMP}, #{btEndDate,jdbcType=TIMESTAMP}, 
      #{btGeo,jdbcType=VARCHAR}, #{registerCapital,jdbcType=VARCHAR}, #{bizScope,jdbcType=VARCHAR}, 
      #{lpName,jdbcType=VARCHAR}, #{lpMobile,jdbcType=VARCHAR}, #{contactAddr,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{coSite,jdbcType=VARCHAR}, #{coBrand,jdbcType=VARCHAR}, 
      #{btImg,jdbcType=VARCHAR}, #{orgCodeImg,jdbcType=VARCHAR}, #{taxImg,jdbcType=VARCHAR}, 
      #{idAImg,jdbcType=VARCHAR}, #{idBImg,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{taxNo,jdbcType=VARCHAR}, #{taxType,jdbcType=CHAR}, #{taxRatio,jdbcType=VARCHAR}, 
      #{bankAcctName,jdbcType=VARCHAR}, #{bankAcctNo,jdbcType=VARCHAR}, #{branchName,jdbcType=VARCHAR}, 
      #{branchNo,jdbcType=VARCHAR}, #{contractType,jdbcType=CHAR}, #{contractImg,jdbcType=VARCHAR}, 
      #{bizManName,jdbcType=VARCHAR}, #{bizManPosition,jdbcType=VARCHAR}, #{bizManIdNo,jdbcType=VARCHAR}, 
      #{bizManMobile,jdbcType=VARCHAR}, #{bizManQq,jdbcType=VARCHAR}, #{bizManEmail,jdbcType=VARCHAR}, 
      #{isPaidDeposit,jdbcType=CHAR}, #{depositDate,jdbcType=TIMESTAMP}, #{depositAuditor,jdbcType=VARCHAR}, 
      #{depositAuditDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.afd.model.seller.Seller" >
    insert into t_seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="sellerLoginId != null" >
        seller_login_id,
      </if>
      <if test="sellerType != null" >
        seller_type,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="coName != null" >
        co_name,
      </if>
      <if test="coBln != null" >
        co_bln,
      </if>
      <if test="btStartDate != null" >
        bt_start_date,
      </if>
      <if test="btEndDate != null" >
        bt_end_date,
      </if>
      <if test="btGeo != null" >
        bt_geo,
      </if>
      <if test="registerCapital != null" >
        register_capital,
      </if>
      <if test="bizScope != null" >
        biz_scope,
      </if>
      <if test="lpName != null" >
        lp_name,
      </if>
      <if test="lpMobile != null" >
        lp_mobile,
      </if>
      <if test="contactAddr != null" >
        contact_addr,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="coSite != null" >
        co_site,
      </if>
      <if test="coBrand != null" >
        co_brand,
      </if>
      <if test="btImg != null" >
        bt_img,
      </if>
      <if test="orgCodeImg != null" >
        org_code_img,
      </if>
      <if test="taxImg != null" >
        tax_img,
      </if>
      <if test="idAImg != null" >
        id_a_img,
      </if>
      <if test="idBImg != null" >
        id_b_img,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="taxNo != null" >
        tax_no,
      </if>
      <if test="taxType != null" >
        tax_type,
      </if>
      <if test="taxRatio != null" >
        tax_ratio,
      </if>
      <if test="bankAcctName != null" >
        bank_acct_name,
      </if>
      <if test="bankAcctNo != null" >
        bank_acct_no,
      </if>
      <if test="branchName != null" >
        branch_name,
      </if>
      <if test="branchNo != null" >
        branch_no,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="contractImg != null" >
        contract_img,
      </if>
      <if test="bizManName != null" >
        biz_man_name,
      </if>
      <if test="bizManPosition != null" >
        biz_man_position,
      </if>
      <if test="bizManIdNo != null" >
        biz_man_id_no,
      </if>
      <if test="bizManMobile != null" >
        biz_man_mobile,
      </if>
      <if test="bizManQq != null" >
        biz_man_qq,
      </if>
      <if test="bizManEmail != null" >
        biz_man_email,
      </if>
      <if test="isPaidDeposit != null" >
        is_paid_deposit,
      </if>
      <if test="depositDate != null" >
        deposit_date,
      </if>
      <if test="depositAuditor != null" >
        deposit_auditor,
      </if>
      <if test="depositAuditDate != null" >
        deposit_audit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerLoginId != null" >
        #{sellerLoginId,jdbcType=INTEGER},
      </if>
      <if test="sellerType != null" >
        #{sellerType,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="coName != null" >
        #{coName,jdbcType=VARCHAR},
      </if>
      <if test="coBln != null" >
        #{coBln,jdbcType=VARCHAR},
      </if>
      <if test="btStartDate != null" >
        #{btStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="btEndDate != null" >
        #{btEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="btGeo != null" >
        #{btGeo,jdbcType=VARCHAR},
      </if>
      <if test="registerCapital != null" >
        #{registerCapital,jdbcType=VARCHAR},
      </if>
      <if test="bizScope != null" >
        #{bizScope,jdbcType=VARCHAR},
      </if>
      <if test="lpName != null" >
        #{lpName,jdbcType=VARCHAR},
      </if>
      <if test="lpMobile != null" >
        #{lpMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactAddr != null" >
        #{contactAddr,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="coSite != null" >
        #{coSite,jdbcType=VARCHAR},
      </if>
      <if test="coBrand != null" >
        #{coBrand,jdbcType=VARCHAR},
      </if>
      <if test="btImg != null" >
        #{btImg,jdbcType=VARCHAR},
      </if>
      <if test="orgCodeImg != null" >
        #{orgCodeImg,jdbcType=VARCHAR},
      </if>
      <if test="taxImg != null" >
        #{taxImg,jdbcType=VARCHAR},
      </if>
      <if test="idAImg != null" >
        #{idAImg,jdbcType=VARCHAR},
      </if>
      <if test="idBImg != null" >
        #{idBImg,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="taxNo != null" >
        #{taxNo,jdbcType=VARCHAR},
      </if>
      <if test="taxType != null" >
        #{taxType,jdbcType=CHAR},
      </if>
      <if test="taxRatio != null" >
        #{taxRatio,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctName != null" >
        #{bankAcctName,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctNo != null" >
        #{bankAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="branchNo != null" >
        #{branchNo,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=CHAR},
      </if>
      <if test="contractImg != null" >
        #{contractImg,jdbcType=VARCHAR},
      </if>
      <if test="bizManName != null" >
        #{bizManName,jdbcType=VARCHAR},
      </if>
      <if test="bizManPosition != null" >
        #{bizManPosition,jdbcType=VARCHAR},
      </if>
      <if test="bizManIdNo != null" >
        #{bizManIdNo,jdbcType=VARCHAR},
      </if>
      <if test="bizManMobile != null" >
        #{bizManMobile,jdbcType=VARCHAR},
      </if>
      <if test="bizManQq != null" >
        #{bizManQq,jdbcType=VARCHAR},
      </if>
      <if test="bizManEmail != null" >
        #{bizManEmail,jdbcType=VARCHAR},
      </if>
      <if test="isPaidDeposit != null" >
        #{isPaidDeposit,jdbcType=CHAR},
      </if>
      <if test="depositDate != null" >
        #{depositDate,jdbcType=TIMESTAMP},
      </if>
      <if test="depositAuditor != null" >
        #{depositAuditor,jdbcType=VARCHAR},
      </if>
      <if test="depositAuditDate != null" >
        #{depositAuditDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.afd.model.seller.Seller" >
    update t_seller
    <set >
      <if test="sellerLoginId != null" >
        seller_login_id = #{sellerLoginId,jdbcType=INTEGER},
      </if>
      <if test="sellerType != null" >
        seller_type = #{sellerType,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="coName != null" >
        co_name = #{coName,jdbcType=VARCHAR},
      </if>
      <if test="coBln != null" >
        co_bln = #{coBln,jdbcType=VARCHAR},
      </if>
      <if test="btStartDate != null" >
        bt_start_date = #{btStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="btEndDate != null" >
        bt_end_date = #{btEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="btGeo != null" >
        bt_geo = #{btGeo,jdbcType=VARCHAR},
      </if>
      <if test="registerCapital != null" >
        register_capital = #{registerCapital,jdbcType=VARCHAR},
      </if>
      <if test="bizScope != null" >
        biz_scope = #{bizScope,jdbcType=VARCHAR},
      </if>
      <if test="lpName != null" >
        lp_name = #{lpName,jdbcType=VARCHAR},
      </if>
      <if test="lpMobile != null" >
        lp_mobile = #{lpMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactAddr != null" >
        contact_addr = #{contactAddr,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="coSite != null" >
        co_site = #{coSite,jdbcType=VARCHAR},
      </if>
      <if test="coBrand != null" >
        co_brand = #{coBrand,jdbcType=VARCHAR},
      </if>
      <if test="btImg != null" >
        bt_img = #{btImg,jdbcType=VARCHAR},
      </if>
      <if test="orgCodeImg != null" >
        org_code_img = #{orgCodeImg,jdbcType=VARCHAR},
      </if>
      <if test="taxImg != null" >
        tax_img = #{taxImg,jdbcType=VARCHAR},
      </if>
      <if test="idAImg != null" >
        id_a_img = #{idAImg,jdbcType=VARCHAR},
      </if>
      <if test="idBImg != null" >
        id_b_img = #{idBImg,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="taxNo != null" >
        tax_no = #{taxNo,jdbcType=VARCHAR},
      </if>
      <if test="taxType != null" >
        tax_type = #{taxType,jdbcType=CHAR},
      </if>
      <if test="taxRatio != null" >
        tax_ratio = #{taxRatio,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctName != null" >
        bank_acct_name = #{bankAcctName,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctNo != null" >
        bank_acct_no = #{bankAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        branch_name = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="branchNo != null" >
        branch_no = #{branchNo,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=CHAR},
      </if>
      <if test="contractImg != null" >
        contract_img = #{contractImg,jdbcType=VARCHAR},
      </if>
      <if test="bizManName != null" >
        biz_man_name = #{bizManName,jdbcType=VARCHAR},
      </if>
      <if test="bizManPosition != null" >
        biz_man_position = #{bizManPosition,jdbcType=VARCHAR},
      </if>
      <if test="bizManIdNo != null" >
        biz_man_id_no = #{bizManIdNo,jdbcType=VARCHAR},
      </if>
      <if test="bizManMobile != null" >
        biz_man_mobile = #{bizManMobile,jdbcType=VARCHAR},
      </if>
      <if test="bizManQq != null" >
        biz_man_qq = #{bizManQq,jdbcType=VARCHAR},
      </if>
      <if test="bizManEmail != null" >
        biz_man_email = #{bizManEmail,jdbcType=VARCHAR},
      </if>
      <if test="isPaidDeposit != null" >
        is_paid_deposit = #{isPaidDeposit,jdbcType=CHAR},
      </if>
      <if test="depositDate != null" >
        deposit_date = #{depositDate,jdbcType=TIMESTAMP},
      </if>
      <if test="depositAuditor != null" >
        deposit_auditor = #{depositAuditor,jdbcType=VARCHAR},
      </if>
      <if test="depositAuditDate != null" >
        deposit_audit_date = #{depositAuditDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seller_id = #{sellerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.afd.model.seller.Seller" >
    update t_seller
    set seller_login_id = #{sellerLoginId,jdbcType=INTEGER},
      seller_type = #{sellerType,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      co_name = #{coName,jdbcType=VARCHAR},
      co_bln = #{coBln,jdbcType=VARCHAR},
      bt_start_date = #{btStartDate,jdbcType=TIMESTAMP},
      bt_end_date = #{btEndDate,jdbcType=TIMESTAMP},
      bt_geo = #{btGeo,jdbcType=VARCHAR},
      register_capital = #{registerCapital,jdbcType=VARCHAR},
      biz_scope = #{bizScope,jdbcType=VARCHAR},
      lp_name = #{lpName,jdbcType=VARCHAR},
      lp_mobile = #{lpMobile,jdbcType=VARCHAR},
      contact_addr = #{contactAddr,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      co_site = #{coSite,jdbcType=VARCHAR},
      co_brand = #{coBrand,jdbcType=VARCHAR},
      bt_img = #{btImg,jdbcType=VARCHAR},
      org_code_img = #{orgCodeImg,jdbcType=VARCHAR},
      tax_img = #{taxImg,jdbcType=VARCHAR},
      id_a_img = #{idAImg,jdbcType=VARCHAR},
      id_b_img = #{idBImg,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      tax_no = #{taxNo,jdbcType=VARCHAR},
      tax_type = #{taxType,jdbcType=CHAR},
      tax_ratio = #{taxRatio,jdbcType=VARCHAR},
      bank_acct_name = #{bankAcctName,jdbcType=VARCHAR},
      bank_acct_no = #{bankAcctNo,jdbcType=VARCHAR},
      branch_name = #{branchName,jdbcType=VARCHAR},
      branch_no = #{branchNo,jdbcType=VARCHAR},
      contract_type = #{contractType,jdbcType=CHAR},
      contract_img = #{contractImg,jdbcType=VARCHAR},
      biz_man_name = #{bizManName,jdbcType=VARCHAR},
      biz_man_position = #{bizManPosition,jdbcType=VARCHAR},
      biz_man_id_no = #{bizManIdNo,jdbcType=VARCHAR},
      biz_man_mobile = #{bizManMobile,jdbcType=VARCHAR},
      biz_man_qq = #{bizManQq,jdbcType=VARCHAR},
      biz_man_email = #{bizManEmail,jdbcType=VARCHAR},
      is_paid_deposit = #{isPaidDeposit,jdbcType=CHAR},
      deposit_date = #{depositDate,jdbcType=TIMESTAMP},
      deposit_auditor = #{depositAuditor,jdbcType=VARCHAR},
      deposit_audit_date = #{depositAuditDate,jdbcType=TIMESTAMP}
    where seller_id = #{sellerId,jdbcType=INTEGER}
  </update>
</mapper>