<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.seller.dao.SellerAuditMapper" >
  <resultMap id="BaseResultMap" type="com.afd.model.seller.SellerAudit" >
    <id column="audit_id" property="auditId" jdbcType="INTEGER" />
    <result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="audit_result" property="auditResult" jdbcType="CHAR" />
    <result column="audit_type" property="auditType" jdbcType="CHAR" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="audit_opinion" property="auditOpinion" jdbcType="VARCHAR" />
    <result column="audit_date" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="audit_ip" property="auditIp" jdbcType="VARCHAR" />
    <result column="Column_9" property="column9" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    audit_id, apply_id, audit_result, audit_type, auditor, audit_opinion, audit_date, 
    audit_ip, Column_9
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_seller_audit
    where audit_id = #{auditId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_seller_audit
    where audit_id = #{auditId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.afd.model.seller.SellerAudit" >
    insert into t_seller_audit (audit_id, apply_id, audit_result, 
      audit_type, auditor, audit_opinion, 
      audit_date, audit_ip, Column_9
      )
    values (#{auditId,jdbcType=INTEGER}, #{applyId,jdbcType=INTEGER}, #{auditResult,jdbcType=CHAR}, 
      #{auditType,jdbcType=CHAR}, #{auditor,jdbcType=VARCHAR}, #{auditOpinion,jdbcType=VARCHAR}, 
      #{auditDate,jdbcType=TIMESTAMP}, #{auditIp,jdbcType=VARCHAR}, #{column9,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.afd.model.seller.SellerAudit" >
    insert into t_seller_audit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="auditId != null" >
        audit_id,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="auditResult != null" >
        audit_result,
      </if>
      <if test="auditType != null" >
        audit_type,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditOpinion != null" >
        audit_opinion,
      </if>
      <if test="auditDate != null" >
        audit_date,
      </if>
      <if test="auditIp != null" >
        audit_ip,
      </if>
      <if test="column9 != null" >
        Column_9,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="auditId != null" >
        #{auditId,jdbcType=INTEGER},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="auditResult != null" >
        #{auditResult,jdbcType=CHAR},
      </if>
      <if test="auditType != null" >
        #{auditType,jdbcType=CHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null" >
        #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditIp != null" >
        #{auditIp,jdbcType=VARCHAR},
      </if>
      <if test="column9 != null" >
        #{column9,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.afd.model.seller.SellerAudit" >
    update t_seller_audit
    <set >
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=INTEGER},
      </if>
      <if test="auditResult != null" >
        audit_result = #{auditResult,jdbcType=CHAR},
      </if>
      <if test="auditType != null" >
        audit_type = #{auditType,jdbcType=CHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null" >
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditIp != null" >
        audit_ip = #{auditIp,jdbcType=VARCHAR},
      </if>
      <if test="column9 != null" >
        Column_9 = #{column9,jdbcType=CHAR},
      </if>
    </set>
    where audit_id = #{auditId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.afd.model.seller.SellerAudit" >
    update t_seller_audit
    set apply_id = #{applyId,jdbcType=INTEGER},
      audit_result = #{auditResult,jdbcType=CHAR},
      audit_type = #{auditType,jdbcType=CHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      audit_ip = #{auditIp,jdbcType=VARCHAR},
      Column_9 = #{column9,jdbcType=CHAR}
    where audit_id = #{auditId,jdbcType=INTEGER}
  </update>
</mapper>